### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## Local Government Area Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average maths score 

* Calculate the average reading score

* Calculate the percentage of students with a passing maths score (50 or greater)

* Calculate the percentage of students with a passing reading score (50 or greater)

* Calculate the percentage of students who passed maths **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
import pandas as pd

In [4]:
school_data_csv = "Resources/schools_complete.csv"
school_data_df = pd.read_csv(school_data_csv)

school_data_df.describe()

       School ID         size        budget
count  15.000000    15.000000  1.500000e+01
mean    7.000000  2611.333333  1.643295e+06
std     4.472136  1420.915282  9.347763e+05
min     0.000000   427.000000  2.480870e+05
25%     3.500000  1698.000000  1.046265e+06
50%     7.000000  2283.000000  1.319574e+06
75%    10.500000  3474.000000  2.228999e+06
max    14.000000  4976.000000  3.124928e+06

In [5]:
student_data_csv = "Resources/students_complete.csv"
student_data_df = pd.read_csv(student_data_csv)
student_data_df.describe()

         Student ID          year  reading_score   maths_score
count  39170.000000  39170.000000   39170.000000  39170.000000
mean   19584.500000     10.359586      69.980138     70.338192
std    11307.549359      1.102779      17.242346     16.910154
min        0.000000      9.000000      39.000000     39.000000
25%     9792.250000      9.000000      55.000000     56.000000
50%    19584.500000     10.000000      70.000000     70.000000
75%    29376.750000     11.000000      85.000000     85.000000
max    39169.000000     12.000000      99.000000     99.000000

In [6]:
student_with_school_combined_data_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
student_with_school_combined_data_df.head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635

In [7]:
unique_schools = student_with_school_combined_data_df["school_name"].unique()
unique_schools

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [8]:
total_budget_df = student_with_school_combined_data_df.groupby(['school_name', 'type'])["budget"].mean().astype(int)
total_budget_df

school_name            type
Bailey High School     Government     3124928
Cabrera High School    Independent    1081356
Figueroa High School   Government     1884411
Ford High School       Government     1763916
Griffin High School    Independent     917500
Hernandez High School  Government     3022020
Holden High School     Independent     248087
Huang High School      Government     1910635
Johnson High School    Government     3094650
Pena High School       Independent     585858
Rodriguez High School  Government     2547363
Shelton High School    Independent    1056600
Thomas High School     Independent    1043130
Wilson High School     Independent    1319574
Wright High School     Independent    1049400
Name: budget, dtype: int32

In [9]:
total_Students_df = student_with_school_combined_data_df.groupby(['school_name', 'type'])["student_name"].count().astype(int)
total_Students_df

school_name            type
Bailey High School     Government     4976
Cabrera High School    Independent    1858
Figueroa High School   Government     2949
Ford High School       Government     2739
Griffin High School    Independent    1468
Hernandez High School  Government     4635
Holden High School     Independent     427
Huang High School      Government     2917
Johnson High School    Government     4761
Pena High School       Independent     962
Rodriguez High School  Government     3999
Shelton High School    Independent    1761
Thomas High School     Independent    1635
Wilson High School     Independent    2283
Wright High School     Independent    1800
Name: student_name, dtype: int32

## School Summary

In [10]:
Percent_math_pass = (((student_with_school_combined_data_df.where(student_with_school_combined_data_df.maths_score>=50)).count())/(len(student_with_school_combined_data_df))*100).map("{:,.2f}%".format)
print(Percent_math_pass.loc['maths_score'])

86.08%

In [267]:
Percent_reading_pass = (((student_with_school_combined_data_df.where(student_with_school_combined_data_df.reading_score>=50)).count())/(len(student_with_school_combined_data_df))*100).map("{:,.2f}%".format)
print(Percent_reading_pass.loc['reading_score'])

84.43%

In [268]:
Overall_Pass = "{:,.0f}".format((len(student_with_school_combined_data_df[(student_with_school_combined_data_df['reading_score']>=50) & (student_with_school_combined_data_df['maths_score']>=50)])))
Overall_Pass

'28,519'

In [269]:
LGA_summary_df = pd.DataFrame({
     "LGA Name": ["PyCitySchols LGA"],
    "Total No. Unique Schools": [total_unique_schools],
    "Total Students": [Total_Students],
    "Total Budget": [LGA_Budget],
    "Average Maths Score": [(Average_Maths_Score.loc['maths_score'])],
    "Average Reading Score": [(Average_Reading_Score.loc['reading_score'])],
    "Percentage of Students Passing Maths": [(Percent_math_pass.loc['maths_score'])],
    "Percentage of Students Passing Reading": [(Percent_reading_pass.loc['reading_score'])],
    "Total Students with an Overall Pass Mark": [Overall_Pass]
    
    
})
LGA_summary_df

,LGA Name,Total No. Unique Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,Percentage of Students Passing Maths,Percentage of Students Passing Reading,Total Students with an Overall Pass Mark
0,PyCitySchols LGA,15,"39,170","$24,649,428.00",70.34,69.98,86.08%,84.43%,"28,519"

* Create an overview table that summarises key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed maths **and** reading.)
  
* Create a dataframe to hold the above results

In [270]:
total_budget_df

school_name            type
Bailey High School     Government     3124928
Cabrera High School    Independent    1081356
Figueroa High School   Government     1884411
Ford High School       Government     1763916
Griffin High School    Independent     917500
Hernandez High School  Government     3022020
Holden High School     Independent     248087
Huang High School      Government     1910635
Johnson High School    Government     3094650
Pena High School       Independent     585858
Rodriguez High School  Government     2547363
Shelton High School    Independent    1056600
Thomas High School     Independent    1043130
Wilson High School     Independent    1319574
Wright High School     Independent    1049400
Name: budget, dtype: int32

In [271]:
Schools_summary1_df = student_with_school_combined_data_df.groupby(['school_name', 'type']).agg(
   Student_Count=('student_name', np.size),
    School_Budget=('budget', np.mean),
    Maths_Mean=('maths_score', np.mean),
    Reading_Mean=('reading_score', np.mean))

print(Schools_summary_df)

  #Done("School Name": [total_budget.df],"School Type": [total_unique_schools],"Total Students": [Total_Students],"Average Maths Score": [(Average_Maths_Score.loc['maths_score'])],
  #  "Average Reading Score": [(Average_Reading_Score.loc['reading_score'])],
 
   # "Per Student Budget" : ["TBA"], 
  #  "Percentage of Students Passing Maths": [(Percent_math_pass.loc['maths_score'])],
  #  "Percentage of Students Passing Reading": [(Percent_reading_pass.loc['reading_score'])],
  #  "Total Students with an Overall Pass Mark": [Overall_Pass]

                                   Student_Count  School_Budget  Maths_Mean  \
school_name           type
Bailey High School    Government            4976      3124928.0   72.352894
Cabrera High School   Independent           1858      1081356.0   71.657158
Figueroa High School  Government            2949      1884411.0   68.698542
Ford High School      Government            2739      1763916.0   69.091274
Griffin High School   Independent           1468       917500.0   71.788147
Hernandez High School Government            4635      3022020.0   68.874865
Holden High School    Independent            427       248087.0   72.583138
Huang High School     Government            2917      1910635.0   68.935207
Johnson High School   Government            4761      3094650.0   68.843100
Pena High School      Independent            962       585858.0   72.088358
Rodriguez High School Government            3999      2547363.0   72.047762
Shelton High School   Independent           1761      1056600.0   72.034072
Thomas High School    Independent           1635      1043130.0   69.581651
Wilson High School    Independent           2283      1319574.0   69.170828
Wright High School    Independent           1800      1049400.0   72.047222

                                   Reading_Mean
school_name           type
Bailey High School    Government      71.008842
Cabrera High School   Independent     71.359526
Figueroa High School  Government      69.077993
Ford High School      Government      69.572472
Griffin High School   Independent     71.245232
Hernandez High School Government      69.186408
Holden High School    Independent     71.660422
Huang High School     Government      68.910525
Johnson High School   Government      69.039277
Pena High School      Independent     71.613306
Rodriguez High School Government      70.935984
Shelton High School   Independent     70.257808
Thomas High School    Independent     69.768807
Wilson High School    Independent     68.876916
Wright High School    Independent     70.969444

In [272]:
Student_Budget_df = total_budget.df/total_Students_df
print(Student_Budget_df)

school_name            type
Bailey High School     Government     628.0
Cabrera High School    Independent    582.0
Figueroa High School   Government     639.0
Ford High School       Government     644.0
Griffin High School    Independent    625.0
Hernandez High School  Government     652.0
Holden High School     Independent    581.0
Huang High School      Government     655.0
Johnson High School    Government     650.0
Pena High School       Independent    609.0
Rodriguez High School  Government     637.0
Shelton High School    Independent    600.0
Thomas High School     Independent    638.0
Wilson High School     Independent    578.0
Wright High School     Independent    583.0
dtype: float64

In [273]:
School_Level_Data_df= pd.DataFrame({
   "School Name": [unique_schools],
    "Total Students": [([total_Students_df])],
    "School Budget": [([total_budget.df])],
    "Student Budget": [([total_budget.df/total_Students_df])]
    #"Average Maths Score": [(Average_Maths_Score.loc['maths_score'])],
    #"Average Reading Score": [(Average_Reading_Score.loc['reading_score'])],
    #"Percentage of Students Passing Maths": [(Percent_math_pass.loc['maths_score'])],
    #"Percentage of Students Passing Reading": [(Percent_reading_pass.loc['reading_score'])],
    #"Total Students with an Overall Pass Mark": [Overall_Pass]
})
print(School_Level_Data_df)

                                         School Name  \
0  [Huang High School, Figueroa High School, Shel...

                                      Total Students  \
0  [[4976, 1858, 2949, 2739, 1468, 4635, 427, 291...

                                       School Budget  \
0  [[3124928, 1081356, 1884411, 1763916, 917500, ...

                                      Student Budget
0  [[628.0, 582.0, 639.0, 644.0, 625.0, 652.0, 58...

In [274]:
School_Percent_reading_pass = (((student_with_school_combined_data_df.where(student_with_school_combined_data_df.reading_score>=50)).count())/(len(student_with_school_combined_data_df))*100).map("{:,.2f}%".format)
print(Percent_reading_pass.loc['reading_score'])

84.43%

In [276]:
Percent_reading_pass = student_with_school_combined_data_df.groupby(['school_name', 'type'])((((student_with_school_combined_data_df.where(student_with_school_combined_data_df.reading_score>=50)).count())/(len(student_with_school_combined_data_df))*100).map("{:,.2f}%".format))
print(Percent_reading_pass.loc['reading_score'])

TypeError: 'DataFrameGroupBy' object is not callable

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Maths Scores by Year

* Create a table that lists the average maths score for students of each year level (9, 10, 11, 12) at each school.

  * Create a pandas series for each year. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

                          Year 9    Year 10    Year 11    Year 12
Bailey High School     72.493827  71.897498  72.374900  72.675097
Cabrera High School    72.321970  72.437768  71.008299  70.604712
Figueroa High School   68.477804  68.331586  68.811001  69.325282
Ford High School       69.021609  69.387006  69.248862  68.617811
Griffin High School    72.789731  71.093596  71.692521  71.469178
Hernandez High School  68.586831  68.867156  69.154412  68.985075
Holden High School     70.543307  75.105263  71.640777  73.409639
Huang High School      69.081754  68.533246  69.431345  68.639316
Johnson High School    69.469286  67.990220  68.637730  69.287393
Pena High School       71.996364  72.396000  72.523438  71.187845
Rodriguez High School  71.940722  71.779808  72.364811  72.154626
Shelton High School    72.932075  72.506696  70.097087  72.331536
Thomas High School     69.234273  70.057007  69.657831  69.369822
Wilson High School     69.212361  69.455446  68.378965  69.787472
Wright High School     71.741176  72.179012  73.275862  70.848238

## Reading Score by Year

* Perform the same operations as above for reading scores

                          Year 9    Year 10    Year 11    Year 12
Bailey High School     70.901920  70.848265  70.317346  72.195525
Cabrera High School    71.172348  71.328326  71.201245  71.856021
Figueroa High School   70.261682  67.677588  69.152327  69.082126
Ford High School       69.615846  68.988701  70.735964  68.849722
Griffin High School    72.026895  70.746305  72.385042  69.434932
Hernandez High School  68.477569  70.621842  68.418199  69.244136
Holden High School     71.598425  71.096491  73.310680  70.481928
Huang High School      68.670616  69.516297  68.740638  68.671795
Johnson High School    68.719286  69.295029  69.969115  67.992521
Pena High School       70.949091  72.324000  71.703125  71.513812
Rodriguez High School  70.902921  70.137500  71.424453  71.414449
Shelton High School    70.715094  69.879464  71.150485  69.070081
Thomas High School     69.672451  69.741093  70.749398  68.730769
Wilson High School     68.683043  68.412541  68.796327  69.888143
Wright High School     71.823529  71.386831  70.475862  69.821138

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,71.36,70.72,88.84,86.39,76.72
$585-630,72.07,71.03,91.52,87.29,79.88
$630-645,69.85,69.84,84.69,83.76,71.00
$645-680,68.88,69.05,81.57,81.77,66.76

## Scores by School Size

* Perform the same operations as above, based on school size.

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),72.335748,71.636864,90.806867,87.557513,79.066348
Medium (1000-2000),71.421650,70.720164,89.846560,86.714149,78.039785
Large (2000-5000),69.751809,69.576052,84.252804,83.301185,70.293507

## Scores by School Type

* Perform the same operations as above, based on school type

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
School Type,,,,,
Government,69.834806,69.675929,84.462375,83.587562,70.698993
Independent,71.368822,70.718933,89.204043,86.247789,76.973340